@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.home-name {
  position: absolute;
  padding: 50px;
  width: 700px;
  height: 80px;
  background: transparent;
  background-color: rgba(128, 128, 128, 0.1);
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.typing-container {
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  font-family: 'Fira Code','IBM Plex Mono', monospace;  
  animation: 0.75s step-end infinite;
}

.home-name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s; 
}

.home-name:hover::before {
  transform: scaleX(1);
}



.cursor {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}

.cursor.hidden {
  opacity: 0;
}
